@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "../pages/welcome/Welcome";
@import "../pages/landing/Landing";
@import "../pages/wrapper/Wrapper";
@import "../pages/landingOptions/LandingOptions";
@import "../components/authModal/AuthModal";
@import "../components/confirmDeletionModal/ConfirmDeletionModal";

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.circle-check {
  color: green;
  font-size: 40px;
  margin-top: 60px;
}

.times-circle {
  color: red;
  font-size: 40px;
  margin-top: 60px;
}

.wrapper-container {
  display: flex;
  .side-content {
    width: 20%;
    height: 100vh;
  }
  .main-content {
    width: 60%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
  }
  @media screen and (max-width: 815px) {
    .side-content {
      display: none;
    }
    .main-content {
      width: 100%;
    }
  }
}

.form-container {
  max-height: 90vh;
  overflow-y: auto;
  padding: 40px 50px;
  .form-label {
    font-size: 20px;
    font-weight: 600;
  }
  .form-btn-container {
    text-align: center;
    .form-btn-container-btn {
      border: 2px solid black;
      margin: 2px;
    }
  }
  .form-select,
  .form-control {
    background-color: beige;
    border: 2px solid black;
    cursor: pointer;
  }
}

.toast-stack-vertical {
  display: flex;
  flex-direction: column;
}

.page-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  padding-top: 30vh;
  .view-spinner {
    height: 4rem;
    width: 4rem;
  }
}

.list-container {
  max-height: 90vh;
  overflow-y: auto;
  padding-top: 60px;
  .list-item {
    margin: 20px 40px;
    border-radius: 5px;
    border: 4px solid black;
    .accordion-button:focus {
      border: none;
      box-shadow: none;
    }
    .accordion-button {
      background-color: beige;
    }
    .accordion-button:not(.collapsed) {
      border-bottom: 2px solid black;
    }
    .accordion-header {
      display: flex;
      justify-content: space-between;
      .list-item-header {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
        div {
          margin: 10px 20px;
          .list-item-label {
            font-size: 16px;
          }
          .list-item-value {
            font-weight: 600;
            font-size: 18px;
            margin-left: 5px;
            &.red-alert {
              color: red;
            }
          }
        }
        @media screen and (max-width: 523px) {
          grid-template-columns: auto;
          div {
            margin: 5px 0;
            .list-item-label {
              font-size: 14px;
            }
            .list-item-value {
              font-size: 16px;
            }
          }
        }
      }
      .list-item-delete {
        padding: 5px 20px;
        .item-delete {
          font-size: 20px;
        }
      }
    }
    .accordion-body {
      .list-item-body {
        width: 100%;
        display: flex;
        justify-content: space-between;
        div {
          display: flex;
          word-wrap: break-word;
          padding: 0 5px;
          .list-item-body-btn {
            border: 2px solid black;
            font-weight: bold;
            margin: 2px;
          }
        }
        @media screen and (max-width: 523px) {
          div {
            flex-direction: column;
            .list-item-body-btn {
              font-size: 10px;
            }
          }
        }
      }
      @media screen and (max-width: 523px) {
        padding: 1rem 0.5rem;
      }
    }
  }
}

.filter-item {
  border-radius: 0 !important;
  position: absolute;
  z-index: 999;
  width: 100%;
  .filter-header {
    .filter-icon {
      margin-left: 10px;
    }
    .accordion-button:focus {
      border: none;
      box-shadow: none;
    }
    .accordion-button:not(.collapsed) {
      border-bottom: 2px solid black;
    }
    .accordion-button {
      background-color: beige;
      font-size: 20px;
      font-weight: 600;
    }
  }
  .filter-body {
    background-color: black;
    .form-label {
      font-size: 20px;
      font-weight: 600;
      color: beige;
    }
    .form-select {
      background-color: beige;
      border: 2px solid black;
      cursor: pointer;
    }
    .form-btn-container {
      background-color: black;
      text-align: center;
      .apply-filter-btn {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
}

.submission-modal-body {
  background-color: beige;
}
