.main-wrapper {
    background-image: url("../../images/classroom-bg1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .wrapper-navbar {
        .container {
            max-width: 100% !important;
        }
        height: 50px;
        .active-tab {
            color: beige;
            cursor: pointer;
        }
        .inactive-tab {
            color: grey;
            cursor: pointer;
        }
        .back-btn {
            color: beige;
            cursor: pointer;
        }
    }
}