.filter-item {
  border: 4px solid black;
  border-radius: 0 !important;
  position: absolute;
  z-index: 999;
  width: 100%;
  .filter-header {
    .filter-icon {
      margin-left: 10px;
    }
    .accordion-button:focus {
      border: none;
      box-shadow: none;
    }
    .accordion-button:not(.collapsed) {
      border-bottom: 2px solid black;
    }
    .accordion-button {
      background-color: beige;
      font-size: 20px;
      font-weight: 600;
    }
  }
}